body, html {
    max-width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

header {
    margin-top: 1vw;
    margin-left: 1vw;
}

section {
    margin: 1vw;
}

form {
    margin: 1vw;
    margin-bottom: 1.5vh;
}

form>div {
    padding-bottom: 0.5vh;
}

#tables {
    width: 50%;
    margin-top: 2vh;
}

#errors>div {
    background: rgb(255, 52, 79);
    color: white;
    font-size: 90%;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.6%;
    padding-right: 0.6%;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    border-radius: 2px;
    display: none;
}
#errors>div>p {
    margin: 0;
    display: none;
}
  
#error-date[data-show], #error-checkbox[data-show], 
#error-sma5[data-show], #error-date[data-show]>p, 
#error-checkbox[data-show]>p, #error-sma5[data-show]>p {
    display: block;
}

#days, #dates {
    margin-bottom: 0;
}
